@layout('layouts/master')

@set('title', `BIP${bip.bip} - ${bip.title}`)
@set('description', `Read more about the BIP${bip.bip} on bips.xyz`)

@section('body')
<h1>{{bip.title}}</h1>
{{{bip.content}}}
@end