@layout({
    title: `"${query}" on {{appUrl}}`,
    description: `Search results for "${query}"`,
    query: query
})
    @if(searchResult.length === 0)
    No result
    @end

    @each(result in searchResult)
    <h2>
        @if(isBips)
        <a href="/{{result.bip}}">{{result.bip}} - {{result.title}}</a>
        @elseif(isNips)
        <a href="/{{result.nip}}">{{result.title}}</a>
        @end
    </h2>
    <p>{{result.contentSource}}</p>
    @end
@end