@layout('layouts/master')

@set('title', 'Meh. It\'s not normal')
@set('description', '500 Is description really useful?')

@section('body')
<h1>(500) Meh.</h1>
<span>If you see this, please tell me how on twitter <a href="https://twitter.com/Dolu_Web" rel="nofollow">@Dolu_web</a></span>
@end