@layout({
    title: 'NIPs (Nostr Improvement Proposals)',
    description: 'A mirror of github NIPs (Nostr Improvement Proposals). Share easily and learn more about how Nostr works'
})
{{{home}}}
@end