$color: #5d0c8b;
$color-accent: #5d0c8bb7;
$color-accent-light: #5d0c8b15;
$color-accent-lighter: #5d0c8b23;
$color-bg: #fff;
$color-text: #46444c;
$color-text-accent: #46444c88;
$font-family: 'Titillium Web', sans-serif;

$code-bg: #f6f8fa;
$code-border: #e5e7eb;
