$color: #ff9500;
$color-accent: #ff9500b7;
$color-accent-light: #ff950015;
$color-accent-lighter: #ff950023;
$color-bg: #fff;
$color-text: #46444c;
$color-text-accent: #46444c88;
$font-family: 'Titillium Web', sans-serif;

$code-bg: #f6f8fa;
$code-border: #e5e7eb;
