<header class="bip-head">
  <div class="bip-head__eyebrow">{{ view.eyebrow }}</div>
  <h1 class="bip-head__title">{{ view.title }}</h1>
  <div class="bip-head__tags">
    @each(badge in view.badges)
      @!badge({ badge })
    @end
    @each(chip in view.headerChips)
      <span class="bip-tag">
        @if(chip.label)
          <span class="bip-tag__k">{{ chip.label }}</span>
        @end
        {{ chip.value }}
      </span>
    @end
  </div>
</header>
