{{-- Related specs, split by edge direction: outgoing (this spec cites) vs incoming (cited by). --}}
@if(view.related.length)
  <section class="rail-card">
    @if(view.related.some((spec) => spec.direction === 'out'))
      <div class="rail-label">Related</div>
      <ul class="related-list">
        @each(spec in view.related.filter((spec) => spec.direction === 'out'))
          @include('partials/documents/show/related_item')
        @end
      </ul>
    @end
    @if(view.related.some((spec) => spec.direction === 'in'))
      <div class="rail-label">Referenced by</div>
      <ul class="related-list">
        @each(spec in view.related.filter((spec) => spec.direction === 'in'))
          @include('partials/documents/show/related_item')
        @end
      </ul>
    @end
  </section>
@end
