<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{description}}">
    <meta property="og:title" content="{{ title }}" key="title" />
    <meta property="og:description" content="{{description}}" key="description" />
    <meta property="og:url" content="https://bips.xyz" />
    <meta name="twitter:card" content="summary" />
    @entryPointStyles('app')
    @entryPointScripts('app')
    @if(env('NODE_ENV') === 'production')
    <script async defer data-website-id="74b22eed-bc05-4a3b-9f94-cc76a5c815ec" src="https://a.bips.xyz/umami.js" data-do-not-track="true"></script>
    @endif
</head>

<body>

    <header>
        <div class="wrapper">
            <a href="/" class="title">
                <span class="icon icon-bitcoin-circle"></span>
                <h1>BIPs <small class="hide">bitcoin improvement proposals</small></h1>
            </a>

            <form class="search" method="GET" action="{{route('BipsController.search')}}">
                <input type="text" name="q" placeholder="search by title, authors, keyword" minlength="3"
                    value="{{query ?? ''}}">
                <button type="submit" aria-label="Launch search"><span class="icon icon-search" aria-hidden></span></button>
            </form>
        </div>
        </div>
    </header>

    <main>

        @!section('body')

    </main>

    <footer>
        <span>Last update: <b>{{updatedDate}}</b></span>
        <a href="https://github.com/Dolu89/bitcoin-bips">Source code</a>
        <span>This website is a mirror of the <a href="https://github.com/bitcoin/bips">official BIPs
                repository.</a></span>
        <span class="bold">Support Bips.xyz <a href="/support">donate</a></span>
    </footer>

</body>

</html>