<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
    <!-- <link href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" rel="stylesheet" /> -->
</head>

<body>

    <header>
        <div class="wrapper">
            <a  href="/" class="title">
                <span class="icon icon-bitcoin-circle"></span>
                <h1>BIPs <small class="hide">bitcoin improvement proposals</small></h1>
            </a>

            <div class="menu">
                <!-- <div class="search">
          <input type="text" placeholder="SEARCH...">
          <button><span class="icon icon-search"></span></button>
        </div> -->

                <div class="items">
                    <span>Home</span>
                    <span>Github</span>
                    <span>Last update : 06/16/2021</span>
                </div>
            </div>
        </div>
    </header>

    <main>

        @!section('body')

    </main>

</body>

</html>